<style>
div { text-align: center; padding: 50px; }
</style>

<div>
  <h1>What is your name?</h1>
    <form action='/go' method='post'>
      <p>
        <input type='text' name='name'>
      </p>
      <p>
        <input type='submit' value='Go'
      </p>
    </form>
</div>
